### Preparing the dataset before deployment

In [1]:
import pandas as pd
import csv
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read data
df = pd.read_csv('MappedData.csv')
df.head(2)

,Cleaned_Name,New_Name,Amazon_Name,Flipkart_Name,Snapdeal_Name,Amazon_SalesPrice,Flipkart_SalesPrice,Snapdeal_SalesPrice,Amazon_OriginalPrice,Flipkart_OriginalPrice,Snapdeal_OriginalPrice,Amazon_Rating,Flipkart_Rating,Snapdeal_Rating,Amazon_ProductLink,Flipkart_ProductLink,Snapdeal_ProductLink,Amazon_ImageLink,Flipkart_ImageLink,Snapdeal_ImageLink
0,Tecno Spark 7 Magnet Black 3GB RAM,"Tecno Spark 7 (Magnet Black, 3GB RAM, 64 GB St...","Tecno Spark 7 (Magnet Black, 3GB RAM, 64 GB St...",NaN,NaN,8499,NaN,NaN,9999,NaN,NaN,3.9,NaN,NaN,https://www.amazon.co.in/gp/slredirect/picasso...,NaN,NaN,https://m.media-amazon.com/images/I/712hJ5hz7N...,NaN,NaN
1,Lava Z2 2GB RAM 32GB Storage,"Lava Z2 (2GB RAM, 32GB Storage)- Aqua Blue, Re...","Lava Z2 (2GB RAM, 32GB Storage)- Aqua Blue, Re...",NaN,NaN,7399,NaN,NaN,7999,NaN,NaN,4.1,NaN,NaN,https://www.amazon.co.in/gp/slredirect/picasso...,NaN,NaN,https://m.media-amazon.com/images/I/71y28elHfB...,NaN,NaN

In [3]:
# Fill Not Available if value is empty
df = df.fillna('Not Available')

In [4]:
# drop unwanted columns
df = df.drop(['Amazon_Name','Flipkart_Name','Snapdeal_Name','Amazon_OriginalPrice','Flipkart_OriginalPrice','Snapdeal_OriginalPrice','Amazon_Rating','Flipkart_Rating','Snapdeal_Rating'], axis = 1)

In [5]:
df['Amazon_SalesPrice'] = df['Amazon_SalesPrice'].str.replace('Unavailable','Not Available')

In [6]:
df['Flipkart_SalesPrice'] = df['Flipkart_SalesPrice'].str.replace('.0','')

In [7]:
df.head()

,Cleaned_Name,New_Name,Amazon_SalesPrice,Flipkart_SalesPrice,Snapdeal_SalesPrice,Amazon_ProductLink,Flipkart_ProductLink,Snapdeal_ProductLink,Amazon_ImageLink,Flipkart_ImageLink,Snapdeal_ImageLink
0,Tecno Spark 7 Magnet Black 3GB RAM,"Tecno Spark 7 (Magnet Black, 3GB RAM, 64 GB St...",8499,Not Available,Not Available,https://www.amazon.co.in/gp/slredirect/picasso...,Not Available,Not Available,https://m.media-amazon.com/images/I/712hJ5hz7N...,Not Available,Not Available
1,Lava Z2 2GB RAM 32GB Storage,"Lava Z2 (2GB RAM, 32GB Storage)- Aqua Blue, Re...",7399,Not Available,Not Available,https://www.amazon.co.in/gp/slredirect/picasso...,Not Available,Not Available,https://m.media-amazon.com/images/I/71y28elHfB...,Not Available,Not Available
2,Redmi 9A Nature Green 2GB RAM,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",6799,NaN,Not Available,https://www.amazon.co.in/Redmi-9A-2GB-32GB-Sto...,https://www.flipkart.com/redmi-9a-nature-green...,Not Available,https://m.media-amazon.com/images/I/71sxlhYhKW...,https://rukminim1.flixcart.com/image/312/312/k...,Not Available
3,Redmi 9 Sky Blue 4GB RAM,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...",8799,Not Available,Not Available,https://www.amazon.co.in/Redmi-Sky-Blue-64GB-S...,Not Available,Not Available,https://m.media-amazon.com/images/I/71A9Vo1Bat...,Not Available,Not Available
4,Samsung Galaxy M11 Metallic Blue 4GB RAM,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...",8999,NaN,Not Available,https://www.amazon.co.in/Samsung-Metallic-Stor...,https://www.flipkart.com/samsung-galaxy-m11-me...,Not Available,https://m.media-amazon.com/images/I/71GQUxuSpn...,https://rukminim1.flixcart.com/image/312/312/k...,Not Available

In [17]:
# save dataframe into csv
df.to_csv('FinalProductDataset.csv',index=0)