In [44]:
import pandas as pd
import re
dataset = pd.read_csv('FlipkartCleanData.csv')
dataset.head()

,Name,SalesPrice,OriginalPrice,Rating,ProductLink,ImageLink
0,"REDMI 9i (Midnight Black, 64 GB)",8299,9999,4.3,https://www.flipkart.com/redmi-9i-midnight-bla...,https://rukminim1.flixcart.com/image/312/312/k...
1,"Infinix Hot 10 (Ocean Wave, 64 GB)",8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-ocean-...,https://rukminim1.flixcart.com/image/312/312/k...
2,"Infinix Hot 10 (Moonlight Jade, 64 GB)",8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-moonli...,https://rukminim1.flixcart.com/image/312/312/k...
3,"I Kall K400 (Blue, 64 GB)",6299,6499,3,https://www.flipkart.com/kall-k400-blue-64-gb/...,https://rukminim1.flixcart.com/image/312/312/k...
4,"Infinix Hot 10 (Amber Red, 64 GB)",8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-amber-...,https://rukminim1.flixcart.com/image/312/312/k...

In [45]:
first_synonym = []
second_synonym = []
third_synonym = []

# iterate product name
for mystring in dataset['Name']:

    first_partitioned_string = mystring.rpartition('(')
    first_name = first_partitioned_string[0]
    first_synonym.append(first_name.strip())

    second_partitioned_string = mystring.rpartition(',')
    second_name = second_partitioned_string[0]
    second_synonym.append(second_name.strip())

    third_name = re.sub("[(].*[,]", "", mystring)
    third_synonym.append(third_name.strip())
    
    
# Create dataframe 
df = pd.DataFrame({'first_synonym': first_synonym,
                   'second_synonym': second_synonym,
                  'third_synonym': third_synonym})

In [46]:
df['second_synonym'] = df['second_synonym'].str.replace(r"[(]",'')

<ipython-input-46-53882f6df33a>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['second_synonym'] = df['second_synonym'].str.replace(r"[(]",'')

In [47]:
df['third_synonym'] = df['third_synonym'].str.replace(r"[)]",'')

<ipython-input-47-bd87a1eae1eb>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['third_synonym'] = df['third_synonym'].str.replace(r"[)]",'')

In [48]:
# Merage all dataframe
df['Synonym'] = df[['first_synonym', 'second_synonym','third_synonym']].apply(lambda x: ' | '.join(x), axis=1)

# create a single list
synonym = df['Synonym'].to_list()

In [49]:
# insert synonym list in dataframe
dataset.insert(1, "Synonyms",synonym, True)
dataset

,Name,Synonyms,SalesPrice,OriginalPrice,Rating,ProductLink,ImageLink
0,"REDMI 9i (Midnight Black, 64 GB)",REDMI 9i | REDMI 9i Midnight Black | REDMI 9i ...,8299,9999,4.3,https://www.flipkart.com/redmi-9i-midnight-bla...,https://rukminim1.flixcart.com/image/312/312/k...
1,"Infinix Hot 10 (Ocean Wave, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Ocean Wave | I...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-ocean-...,https://rukminim1.flixcart.com/image/312/312/k...
2,"Infinix Hot 10 (Moonlight Jade, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Moonlight Jade...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-moonli...,https://rukminim1.flixcart.com/image/312/312/k...
3,"I Kall K400 (Blue, 64 GB)",I Kall K400 | I Kall K400 Blue | I Kall K400 ...,6299,6499,3,https://www.flipkart.com/kall-k400-blue-64-gb/...,https://rukminim1.flixcart.com/image/312/312/k...
4,"Infinix Hot 10 (Amber Red, 64 GB)",Infinix Hot 10 | Infinix Hot 10 Amber Red | In...,8999,11999,4.4,https://www.flipkart.com/infinix-hot-10-amber-...,https://rukminim1.flixcart.com/image/312/312/k...
...,...,...,...,...,...,...,...
979,I Kall K33 New Combo of Two,| | I Kall K33 New Combo of Two,1499,1549,3.7,https://www.flipkart.com/kall-k33-new-combo-tw...,https://rukminim1.flixcart.com/image/312/312/j...
980,Tork T13 Banana,| | Tork T13 Banana,849,NAN,3.9,https://www.flipkart.com/tork-t13-banana/p/itm...,https://rukminim1.flixcart.com/image/312/312/k...
981,"SAMSUNG Galaxy F62 (Laser Grey, 128 GB)",SAMSUNG Galaxy F62 | SAMSUNG Galaxy F62 Laser ...,23999,29999,4.2,https://www.flipkart.com/samsung-galaxy-f62-la...,https://rukminim1.flixcart.com/image/312/312/k...
982,Quick Shel MTM16,| | Quick Shel MTM16,1000,NAN,3.6,https://www.flipkart.com/quick-shel-mtm16/p/it...,https://rukminim1.flixcart.com/image/312/312/k...
983,I Kall K3310 Combo Of Two Mobile,| | I Kall K3310 Combo Of Two Mobile,1299,NAN,3.7,https://www.flipkart.com/kall-k3310-combo-two-...,https://rukminim1.flixcart.com/image/312/312/j...